.navbar{
    background-color: blue;
}
.jumbotron{
    background-color: rgb(167, 255, 251);
    background-image: url(/img/jumbotron-01.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    color: azure;
    background-color: rgb(28, 0, 105);
    width: 100%;
}
.card-hotel{
    margin: 8px;
    border-radius: 0%;
}
@media (max-width:990px) {
    .card-columns{
        column-count:2;
}
}
@media (max-width:550px){
    .card-columns{
        column-count:1;
    }
}
.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.calltoaction{
    float: right;
    background-color: #ffffff;
}
.table{
    display:inline-table;
}
.T_head{
    background-color: rgb(60, 170, 243);
}