@blue: #00158d;
@yellow: #ffe606;
@red: #ff004c;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.navbar{
    background-color: @blue;
}
.jumbotron{
    background-color: rgb(167, 255, 251);
    background-image: url(/img/jumbotron-01.jpg);
    background-position: center;
    background-size: cover;
    color: @blue;
    .margenes(50px, 0px);
}
footer{
    color: @yellow;   
    background-color:@blue;
    width: 100%;
}
.card-hotel{
    margin: 8px;
    border-radius: 0%;
}
@media (max-width:990px) {
    .card-columns{
        column-count:2;
    }
}
@media (max-width:550px){
    .card-columns{
        column-count:1;
    }
}
.btn-reserva{
    width: 100%;
    border-radius: 0%;
}
.badge{
    background-color: @red;
    color: white;
}
.calltoaction{
    float: right;
    background-color: #ffffff;
}
.table{
    display:inline-table;
}
.T_head{
    background-color: @blue;
}