.navbar {
  background-color: #00158d;
}
.jumbotron {
  background-color: #a7fffb;
  background-image: url(/img/jumbotron-01.jpg);
  background-position: center;
  background-size: cover;
  color: #00158d;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  color: #ffe606;
  background-color: #00158d;
  width: 100%;
}
.card-hotel {
  margin: 8px;
  border-radius: 0%;
}
@media (max-width: 990px) {
  .card-columns {
    column-count: 2;
  }
}
@media (max-width: 550px) {
  .card-columns {
    column-count: 1;
  }
}
.btn-reserva {
  width: 100%;
  border-radius: 0%;
}
.badge {
  background-color: #ff004c;
  color: white;
}
.calltoaction {
  float: right;
  background-color: #ffffff;
}
.table {
  display: inline-table;
}
.T_head {
  background-color: #00158d;
}
