.navbar {
  background-color: #1d3ef7; }

.jumbotron {
  background-color: #a7fffb;
  background-image: url(/img/jumbotron-01.jpg);
  background-position: center;
  background-size: cover;
  color: #1d3ef7;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  color: #d6d9da;
  background-color: #1d3ef7;
  width: 100%; }

.card-hotel {
  margin: 8px;
  border-radius: 0%; }

@media (max-width: 990px) {
  .card-columns {
    column-count: 2; } }

@media (max-width: 550px) {
  .card-columns {
    column-count: 1; } }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.badge {
  background-color: #ff004c;
  color: white; }

.calltoaction {
  float: right;
  background-color: #ffffff; }

.table {
  display: inline-table; }

.T_head {
  background-color: #1d3ef7;
  color: white; }
